if SHIELD_SEED_CORNE_LEFT

# Name must be less than 16 characters long!
config ZMK_KEYBOARD_NAME
    default "Seed Corne"

config ZMK_SPLIT_ROLE_CENTRAL
    default y

endif

if SHIELD_SEED_CORNE_LEFT || SHIELD_SEED_CORNE_RIGHT

config ZMK_SPLIT
    default y

endif
