# No whitespace after the comma or in your part name!
config SHIELD_SEED_CORNE_LEFT
    def_bool $(shields_list_contains,seedCorne_left)

# No whitespace after the comma or in your part name!
config SHIELD_SEED_CORNE_RIGHT
    def_bool $(shields_list_contains,seedCorne_right)
